@(formularioEstudiante: Form[Estudiante])

@mainMenu("Estudiantes") {


@helper.form(action=routes.HomeController.crear()){
    <h1>Crear un estudiante</h1>
  @helper.CSRF.formField
  @helper.inputText(formularioEstudiante("identificacion"),'class -> "form-control")
  @helper.inputText(formularioEstudiante("nombres"),'class -> "form-control")
  @helper.inputText(formularioEstudiante("apellidos"),'class ->" form-control")
  @helper.inputText(formularioEstudiante("semestre"),'class -> "form-control")
  <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Crear Estudiante</button>
}
    @helper.form(action=routes.HomeController.search()){
        <h1>Buscar un Estudiante</h1>
        @helper.CSRF.formField
        @helper.inputText(formularioEstudiante("Identificacion a buscar"),'class ->"form-control")
        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i> Bucar</button>
    }



}
