@(estudiante: Estudiante)
@mainMenu(estudiante.getIdentificacion().toString()){

    <body>
        <h1>Id: @estudiante.getIdentificacion()</h1>
        <p>Nombres: @estudiante.getNombres()</p>
        <p>Apellidos: @estudiante.getApellidos()</p>
        <p>Semestre: @estudiante.getSemestre()</p>
        <p>                                     </p>
        <a class="btn btn-primary" href="@routes.HomeController.indexList()">Regresar</a> <a class="btn btn-danger" href="@routes.HomeController.eliminar(estudiante.getIdentificacion)">Eliminar</a>
        <p>                                     </p>

    </body>
}
