@(listaEstudiantes: List[Estudiante])
@mainMenu("Estudiante"){
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">


    <body>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-dark display-4" id="tituloPropietarios">
                            <b>Lista estudiantes</b>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombres
                                        <br> </th>
                                    <th>Apellidos
                                        <br> </th>
                                    <th>Semestre
                                        <br> </th>
                                </tr>
                            </thead>
                            <tbody>

                                @for(p <- listaEstudiantes){
                                    <tr>
                                        <td><a class="btn btn-link" href="@routes.HomeController.buscar(p.getIdentificacion)">@p.getIdentificacion()</a></td>
                                        <td>@p.getNombres()</td>
                                        <td>@p.getApellidos()</td>
                                        <td>@p.getSemestre()</td>
                                    </tr>
                                }
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-success" href="@routes.HomeController.crear()" contenteditable="false">
            <i class="glyphicon glyphicon-plus-sign"></i>
            Crear un Estudiante
        </a>

    </body>
    </html>

}