@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/style.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>

        <nav class="navbar navbar-default navbar-dark bg-dark">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.ControladorPropietario.index()">Home</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.ControladorPropietario.listaPropietarios()"> <i class="glyphicon glyphicon-list"></i>Lista Propietarios <span class="sr-only">(current)</span></a></li>
                        <li><a href="@routes.ControladorPropietario.indexCrear()"><i class="glyphicon glyphicon-plus"></i>Crear Propietarios</a></li>
                        <li><a href="@routes.ControladorPropietario.buscarProp()"><i class="glyphicon glyphicon-search"></i>Buscar Propietarios</a></li>

                        <li><a href="@routes.ControladorVehiculo.listaVehiculos()"><i class="glyphicon glyphicon-list"></i>Lista Vehiculos</a></li>
                        <li><a href="@routes.ControladorVehiculo.indexCrearVehiculo()"><i class="glyphicon glyphicon-plus"></i>Crear Vehiculo</a></li>
                        <li><a href="@routes.ControladorVehiculo.formularioBuscarVehiculo()"><i class="glyphicon glyphicon-search"></i>Buscar Vehiculo</a></li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @* And here's where we render the `Html` object containing
         * the page content. *@
        <div class="container">
        @content
        </div>

        <script src="@routes.Assets.versioned("js/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/custom.js")" type="text/javascript"></script>
    </body>
</html>
