@(listaPropietarios : List[Propietario])
@main("Lista Propietarios"){

    <div class="jumbotron">

        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                </tr>
            </thead>
            <tbody>


            @for(p <- listaPropietarios){
                <tr>
                    <th scope="row"><a class="glyphicon glyphicon-eye-open" href="@routes.ControladorPropietario.buscar(p.getCedula)">@p.getCedula</a></th>
                    <td>@p.getNombres</td>
                    <td>@p.getApellidos</td>
                </tr>
            }
            </tbody>
        </table>


    </div>

}